body{
    background-color: #d9d9d9;
}

.zero{
    text-align: center;
}

.caixa1{
    text-align: center;
}

.caixa2{
    text-align: center;
}

.cor{
    background: #daa1c0;
}

.cor2{
    background: #f075b8;
}



